<!--/*
    Copyright (c) 2012-present Marvelution Holding B.V.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/-->
<th:block xmlns:th="http://www.thymeleaf.org" xmlns:jji="http://www.thymeleaf.org">

    <!--/*@thymesVar id="#licenses" type="org.marvelution.jji.templating.thymeleaf.expression.Licenses"*/-->
    <!--/*@thymesVar id="#tenants" type="com.marvelution.jji.addon.thymeleaf.expression.Tenants"*/-->
    <!--/*@thymesVar id="#sites" type="com.marvelution.jji.addon.thymeleaf.expression.Sites"*/-->
    <!--/*@thymesVar id="#urls" type="org.marvelution.jji.templating.thymeleaf.expression.Urls"*/-->

    <!--/*@thymesVar id="siteId" type="java.lang.String"*/-->
    <!--/*@thymesVar id="site" type="org.marvelution.jji.model.Site"*/-->

    <th:block th:fragment="add-site">
        <form th:action="@{{baseUrl}/site(baseUrl=${#urls.restBaseUrl()})}" class="aui">
            <fieldset class="jenkins-portal-body-page active" id="install-plugin" th:attr="data-portal-page-title=#{portal.install.plugin}">
                <div>
                    <h2>Before you continue, install 'Jira Integration' plugin on Jenkins.</h2>
                    <div class="aui-message aui-message-warning">
                        <p class="title">
                            <strong>You must be an administrator to do this.</strong>
                        </p>
                    </div>
                    <ol>
                        <li>Open your Jenkins server</li>
                        <li>Navigate to <strong>Manage Jenkins > Manage plugins</strong></li>
                        <li>In the <strong>Available</strong> tab, search for '<strong>Jira Integration</strong>'</li>
                        <li>Check the '<strong>Install</strong>' checkbox</li>
                        <li>Click '<strong>Download now and install after restart</strong>'</li>
                    </ol>
                    <p>Once you've installed the plugin on Jenkins, click 'Next'.</p>
                </div>
            </fieldset>
            <fieldset class="jenkins-portal-body-page" id="create-site" th:attr="data-portal-page-title=#{portal.create.site}"
                      th:insert="~{:: siteFields}">
            </fieldset>
            <fieldset class="jenkins-portal-body-page" id="advanced-options" th:attr="data-portal-page-title=#{portal.advanced.options}"
                      th:insert="~{:: advancedOptions}">
            </fieldset>
            <fieldset class="jenkins-portal-body-page" id="connect-site" th:attr="data-portal-page-title=#{portal.connect.site}"
                      jji:load-attr="add-site-connect-page">
            </fieldset>
        </form>
        <script th:src="@{/js/common/admin/site/create-portal.js}" type="text/javascript"></script>
    </th:block>

    <th:block th:fragment="edit-site">
        <form th:action="@{{baseUrl}/site/{id}(baseUrl=${#urls.restBaseUrl()},id=${site.id})}" class="aui">
            <input type="hidden" name="id" th:value="${site.id}"/>
            <fieldset class="jenkins-portal-body-page" th:attr="data-portal-page-title=#{edit.site}">
                <th:block th:replace="~{:: siteFields}"></th:block>
                <fieldset>
                    <legend><span th:text="#{portal.advanced.options}"></span></legend>
                    <th:block th:replace="~{:: advancedOptions}"></th:block>
                </fieldset>
            </fieldset>
        </form>
        <script th:src="@{/js/common/admin/site/edit-portal.js}" type="text/javascript"></script>
    </th:block>

    <th:block th:fragment="siteFields">
        <input type="hidden" name="type" th:value="${site.type.name()}"/>
        <input type="hidden" name="scope" th:if="!${scopeSelector}" th:value="${site.scope}"/>
        <div th:replace="~{common/form :: textField('name', #{site.name}, #{site.name.description}, ${site.name}, true)}"></div>
        <div th:replace="~{common/form :: textField('rpcUrl', #{site.url}, #{site.url.description}, ${site.rpcUrl}, true)}"></div>
        <fieldset class="group">
            <legend><span th:text="#{site.accessibility}"></span><span class="aui-icon icon-required">required</span></legend>
            <th:block th:each="connType : ${#sites.connectionTypes()}">
                <div class="radio">
                    <input class="radio" type="radio" name="connection" th:id="${'conn-' + connType.name()}"
                           th:value="${connType.name()}" th:checked="${site.usesConnectionType(connType)}">
                    <label th:for="${'conn-' + connType.name()}"
                           th:text="#{site.accessibility.__${connType.name()}__}"></label>
                    <div class="description" th:text="#{site.accessibility.__${connType.name()}__.description}"></div>
                </div>
            </th:block>
        </fieldset>
        <th:block th:each="connType : ${#sites.connectionTypes()}">
            <fieldset th:replace="~{:: connection__${connType.name()}__(${site})}"></fieldset>
        </th:block>
    </th:block>

    <fieldset th:fragment="connectionACCESSIBLE(site)" id="ACCESSIBLE-site-setup" class="site-setup"
              th:classappend="${site.isAccessibleSite()} ? '' : 'hidden'">
        <input th:unless="${site.usesBasicAuthentication()}" type="hidden" name="authentication" value="TOKEN"/>
        <th:block th:if="${site.usesBasicAuthentication()}">
            <fieldset class="group">
                <legend><span th:text="#{site.authentication}"></span><span class="aui-icon icon-required">required</span></legend>
                <th:block th:each="authType : ${#sites.authTypes()}">
                    <div class="radio">
                        <input class="radio" type="radio" name="authentication" th:id="${authType.name() + '-auth'}"
                               th:value="${authType.name()}" th:checked="${site.usesAuthentication(authType)}">
                        <label th:for="${authType.name() + '-auth'}"
                               th:text="#{site.authentication.__${authType.name()}__}"></label>
                        <div class="description" th:text="#{site.authentication.__${authType.name()}__.description}"></div>
                    </div>
                </th:block>
            </fieldset>
            <th:block th:each="authType : ${#sites.authTypes()}">
                <fieldset th:replace="~{:: auth__${authType.name()}__(${site})}"></fieldset>
            </th:block>
        </th:block>
    </fieldset>

    <fieldset th:fragment="connectionINACCESSIBLE(site)" id="INACCESSIBLE-site-setup" class="site-setup"
              th:classappend="${site.isInaccessibleSite()} ? '' : 'hidden'">
    </fieldset>

    <fieldset th:fragment="connectionTUNNELED(site)" id="TUNNELED-site-setup" class="site-setup"
              th:classappend="${site.isTunneledSite()} ? '' : 'hidden'">
    </fieldset>

    <fieldset th:fragment="authTOKEN(site)" id="TOKEN-auth-fields" class="auth-fields"
              th:classappend="${site.usesTokenAuthentication()} ? '' : 'hidden'"
              th:with="disabled=${!site.isAccessibleSite()} or !${site.usesTokenAuthentication()}">
    </fieldset>

    <fieldset th:fragment="authBASIC(site)" id="BASIC-auth-fields" class="auth-fields"
              th:classappend="${site.usesBasicAuthentication()} ? '' : 'hidden'"
              th:with="disabled=${!site.isAccessibleSite()} or !${site.usesBasicAuthentication()},
	                   title=${site.usesBasicAuthentication()} ? 'site.current.token' : 'site.token'">
        <legend><span th:text="#{site.authentication.details(#{site.authentication.BASIC})}"></span></legend>
        <div th:replace="~{common/form :: textField(id='user', title=#{site.username}, description=#{site.username.description},
							 value=${site.user}, required=false, disabled=${disabled})}"></div>
        <div th:replace="~{common/form :: textField(id='token', title=#{__${title}__}, description=#{__${title}__.description},
							 value='', required=false, disabled=${disabled}, type='password')}"></div>
        <div th:replace="~{common/form :: textField(id='newToken', title=#{site.new.token}, description=#{site.new.token.description},
							 value='', required=false, disabled=${disabled}, type='password')}"
             jji:if="${site.id} and ${site.usesBasicAuthentication()}"></div>
    </fieldset>

    <th:block th:fragment="advancedOptions">
        <div jji:if="${site.isAccessibleSite()}"
             th:replace="~{common/form :: textField('displayUrl', #{site.display.url}, #{site.display.url.description},
					${site.displayUrlOrNull}, false)}"></div>
        <div class="field-group" th:if="${scopeSelector}">
            <label for="scope" th:text="#{site.scope}"></label>
            <input id="scope" name="scope" class="select full-width-field" th:placeholder="#{site.scope.select}"
                   th:value="${site.scope}" th:attr="data-url=@{{baseUrl}/project(baseUrl=${#urls.restBaseUrl()})}">
            <div class="description" th:text="#{site.scope.description}"></div>
            <div class="error"></div>
            <script th:src="@{/js/common/form/aui-select.js}" type="text/javascript" data-field-id="scope"></script>
        </div>
        <fieldset class="group">
            <legend><span th:text="#{site.options}"></span></legend>
            <div class="checkbox">
                <input class="checkbox" type="checkbox" name="enabled" id="enabled" value="true" th:checked="${site.enabled}">
                <label for="enabled" th:text="#{sync.site.enabled}"></label>
            </div>
            <div class="checkbox">
                <input class="checkbox" type="checkbox" name="autoLinkNewJobs" id="autoLinkNewJobs" value="true"
                       th:checked="${site.autoLinkNewJobs}">
                <label for="autoLinkNewJobs" th:text="#{site.auto.link.new.jobs}"></label>
                <div class="description" th:text="#{site.auto.link.new.jobs.description}"></div>
            </div>
            <div class="checkbox" th:unless="${site.isInaccessibleSite()}">
                <input class="checkbox" type="checkbox" name="useCrumbs" id="useCrumbs" value="true" th:checked="${site.useCrumbs}">
                <label for="useCrumbs" th:text="#{site.use.crumbs}"></label>
                <div class="description" th:text="#{site.use.crumbs.description}"></div>
            </div>
        </fieldset>
    </th:block>

    <th:block th:fragment="connect-site">
        <fieldset class="jenkins-portal-body-page active" id="connect-site" th:attr="data-portal-page-title=#{portal.connect.site}">
            <form th:action="@{{baseUrl}/site/{id}/connect(baseUrl=${#urls.restBaseUrl()},id=${site.id})}" class="aui">
                <div id="connect-errors" class="error"></div>
                <fieldset class="group">
                    <legend><span th:text="#{site.connect.method}"></span><span class="aui-icon icon-required">required</span></legend>
                    <div class="radio">
                        <input class="radio" type="radio" name="method" value="automatic" id="method-automatic"
                               th:checked="${site.isAccessibleSite()}" th:disabled="${!site.isAccessibleSite()}">
                        <label for="method-automatic" th:text="#{site.connect.method.automatic}"></label>
                        <div class="description" th:text="#{site.connect.method.automatic.description}"></div>
                    </div>
                    <div class="radio">
                        <input class="radio" type="radio" name="method" value="manual" id="method-manual"
                               th:checked="${!site.isAccessibleSite()}">
                        <label for="method-manual" th:text="#{site.connect.method.manual}"></label>
                        <div class="description" th:text="#{site.connect.method.manual.description}"></div>
                    </div>
                    <div class="radio">
                        <input class="radio" type="radio" name="method" value="casc" id="method-casc">
                        <label for="method-casc" th:text="#{site.connect.method.casc}"></label>
                        <div class="description" th:text="#{site.connect.method.casc.description}"></div>
                    </div>
                </fieldset>
                <fieldset id="automatic-method-details" class="method-details" th:if="${site.isAccessibleSite()}">
                    <legend>Let the Jira app register itself with Jenkins.</legend>
                    <div>
                        <div class="aui-message aui-message-warning">
                            <p class="title">
                                <strong>You must be an administrator to do this.</strong>
                            </p>
                        </div>
                        <ol>
                            <li>Provide administrator credentials</li>
                            <li>Click '<strong>Connect</strong>'</li>
                        </ol>
                    </div>
                    <div th:replace="~{common/form :: textField(id='adminUser', title=#{site.username},
						description=#{site.username.description}, value='', required=false)}"></div>
                    <div th:replace="~{common/form :: textField(id='adminToken', title=#{site.token},
						description=#{site.token.description}, value='', required=false, type='password')}"></div>
                </fieldset>
                <fieldset id="manual-method-details" class="method-details" th:classappend="${!site.isAccessibleSite() ? '' : 'hidden'}"
                          th:with="url=@{{baseUrl}/integration/register/{id}(baseUrl=${#urls.restBaseUrl(true)},id=${site.id})},
                                   token=${#urls.sign(url, site)}">
                    <legend>Manually register this Jira site with the Jenkins site.</legend>
                    <div>
                        <div class="aui-message aui-message-warning">
                            <p class="title">
                                <strong>You must be an administrator to do this.</strong>
                            </p>
                        </div>
                        <ol th:with="link=@{{baseUrl}jji/(baseUrl=${site.displayUrl},url=${url},token=${token})}">
                            <li>Click on this link <a th:href="${link}" th:text="${link}" target="_top"></a> to authorize the
                                integration in Jenkins, login as an administrator if prompted.</li>
                            <li>Click '<strong>Register Site</strong>'</li>
                            <li>Once you've registered this Jira site on Jenkins, click 'Connect'.</li>
                        </ol>
                    </div>
                </fieldset>
                <fieldset id="casc-method-details" class="method-details hidden">
                    <legend>Configuration and Case instructions</legend>
                    <div>
                        <p>Use the code snippet below to configure the integration in Jenkins using Configuration as Code (CasC).</p>
                        <p>The '<strong>Shared Secret</strong>' should be passed to the CasC script using string substitution.</p>
                    </div>
                    <div th:replace="~{common/form :: textField(id='sharedSecret', title=#{site.shared.secret},
						description=#{site.shared.secret.description}, value=${site.sharedSecret}, required=false, type='password')}">
                    </div>
                    <pre>
unclassified:
  jira-integration-configuration:
  - identifier: "[[${site.id}]]"
    name: "[[${#config.instanceName()}]]"
    uri: "[[${#config.baseAPIUrl()}]]"
    postJson: [[${site.isInaccessibleSite()}]]
    tunneled: [[${site.isTunneledSite()}]]
    sharedSecret: "${SHARED_SECRET_ENV_KEY}"</pre>
                </fieldset>
                <script th:src="@{/js/common/admin/site/connect.js}" type="text/javascript"></script>
            </form>
        </fieldset>
    </th:block>

</th:block>
