<!--/*
    Copyright (c) 2012-present Marvelution Holding B.V.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:jji="http://www.thymeleaf.org">
<!--/*@thymesVar id="#urls" type="org.marvelution.jji.templating.thymeleaf.expression.Urls"*/-->
<!--/*@thymesVar id="#config" type="org.marvelution.jji.templating.thymeleaf.expression.Config"*/-->
<!--/*@thymesVar id="#tenants" type="org.marvelution.jji.templating.thymeleaf.expression.Tenants"*/-->

<div th:fragment="resetMessage" class="aui-message aui-message-error">
	<p th:if="${scope == ''} " th:text="#{reset.to.default.warning}"></p>
	<p th:if="${scope != ''} " th:text="#{reset.to.global.warning}"></p>
</div>

<th:block th:fragment="page">
	<header jji:if="${scope == ''}"
	        th:replace="~{common/page :: header(title=#{jenkins.integration.configuration}, buttons=~{::%page/header/button},
											    help='configuration')}">
		<button class="aui-button" data-dialog-module="features" th:attr="data-dialog-canceltext=#{close}" th:text="#{features}"></button>
	</header>
	<form id="configuration" class="aui long-label ajs-dirty-warning-exempt"
	      th:action="@{{baseUrl}/configuration(baseUrl=${#urls.restBaseUrl()})}">
		<input type="hidden" name="scope" th:value="${scope}"/>
		<div id="configuration-errors" class="error"></div>

		<th:block th:each="section : ${#config.sections()}">
			<th:block th:replace="~{:: settings(#{__${section}__.configuration}, ${scope}, ${#config.settingKeys(scope, section)})}"/>
		</th:block>

	</form>
	<footer class="aui-page-footer">
		<div class="actions">
			<button id="save-configuration-button" class="aui-button aui-button-primary" th:text="#{save}"
			        th:disabled="${#tenants.isInactive()}"></button>
			<button id="reset-configuration-button" class="aui-button" th:text="#{reset}" th:disabled="${#tenants.isInactive()}"
			        jji:load-attr></button>
		</div>
	</footer>
</th:block>

<th:block th:fragment="settings(title, scope, keys)">
	<h2 th:if="!${#arrays.isEmpty(keys)}" th:text="${title}">title</h2>
	<th:block th:each="key : ${keys}" th:with="setting=${#config.getSetting(scope, key)}">
		<th:block th:replace="~{admin/configuration/settings :: __${key}__(${setting.value})} ?: ~{:: __${key}__(${setting.value})}"/>
	</th:block>
</th:block>

<th:block th:fragment="max_builds_per_page(value)">
	<div th:replace="~{common/form :: textField(id='max_builds_per_page', title=#{max.builds.per.page},
											    description=#{max.builds.per.page.description}, value=${value},
											    required=true, fieldSize='short')}"></div>
</th:block>

<th:block th:fragment="deleted_data_retention_period(value)">
	<div th:replace="~{common/form :: textField(id = 'deleted_data_retention_period', title=#{deleted.data.retention.period},
											    description=#{deleted.data.retention.period.description},
											    value=${value}, required=true, fieldSize='short')}"></div>
</th:block>

<th:block th:fragment="audit_data_retention_period(value)">
	<div th:replace="~{common/form :: textField(id = 'audit_data_retention_period', title=#{audit.data.retention.period},
											    description=#{audit.data.retention.period.description},
											    value=${value}, required=true, fieldSize='short')}"></div>
</th:block>

<th:block th:fragment="use_user_id(value)">
	<fieldset class="group">
		<legend><span th:text="#{user.id.vs.name}"></span></legend>
		<div class="radio">
			<input class="radio" type="radio" name="use_user_id" id="use_user_id" value="true"
			       th:checked="${value}">
			<label for="use_user_id" th:text="#{use.user.id}"></label>
		</div>
		<div class="radio">
			<input class="radio" type="radio" name="use_user_id" id="use_user_displayname" value="false"
			       th:checked="!${value}">
			<label for="use_user_displayname" th:text="#{use.user.displayname}"></label>
		</div>
		<div class="description" th:text="#{user.id.vs.name.description}"></div>
	</fieldset>
</th:block>

<th:block th:fragment="parameter_issue_fields(value)">
	<div class="field-group">
		<label for="parameter_issue_fields" th:text="#{parameter.issue.fields}"></label>
		<input class="select full-width-with-help-field" id="parameter_issue_fields" name="parameter_issue_fields" th:value="${value}"
		       th:attr="data-placeholder=#{search.for.issue.fields},data-url=@{{baseUrl}/configuration/fields(baseUrl=${#urls.restBaseUrl()})}">
		<a th:href="${#urls.helpUrl('parameter_issue_fields')}" target="_blank" class="aui-icon icon-inline-help"><span>help</span></a>
		<div class="description" th:text="#{parameter.issue.fields.description}"></div>
	</div>
	<script th:src="@{/js/common/form/issue-fields.js}" data-field-id="parameter_issue_fields" data-multiple="true"
					type="text/javascript"></script>
</th:block>

<th:block th:fragment="parameter_issue_field_names(value)">
	<div th:replace="~{common/form :: textareaField(id='parameter_issue_field_names', title=#{parameter.issue.field.names},
		                                            description=#{parameter.issue.field.names.description}, value=${value},
		                                            required=false, help=${#urls.helpUrl('parameter_issue_field_names')})}"></div>
</th:block>

<th:block th:fragment="parameter_issue_field_mappers(value)">
	<div th:replace="~{common/form :: textareaField(id='parameter_issue_field_mappers', title=#{parameter.issue.field.mappers},
		                                            description=#{parameter.issue.field.mappers.description}, value=${value},
		                                            required=false, help=${#urls.helpUrl('parameter_issue_field_mappers')})}"></div>
	<div class="field-group">
		<input class="text short-field" type="text" id="evaluator-issuekey" th:placeholder="#{enter.issue.key}">
		<button id="evaluator" class="aui-button" th:text="#{evaluate.fields.and.mappers}"
		        th:attr="data-url=@{{baseUrl}/configuration/parameter-issue-fields(baseUrl=${#urls.restBaseUrl()})}"></button>
		<div class="description" th:text="#{evaluate.fields.and.mappers.description}"></div>
		<pre id="evaluator-output"></pre>
	</div>
	<script th:src="@{/js/common/admin/configuration/parameter-issue-field-mappers.js}" type="text/javascript"></script>
</th:block>

<th:block th:fragment="enabled_project_keys(value)">
	<div class="field-group">
		<label for="enabled_project_keys" th:text="#{enabled.project.keys}"></label>
		<input class="select full-width-with-help-field" id="enabled_project_keys" name="enabled_project_keys" th:value="${value}"
		       th:attr="data-placeholder=#{search.for.projects},data-url=@{{baseUrl}/configuration/projects(baseUrl=${#urls.restBaseUrl()})}">
		<a th:href="${#urls.helpUrl('enabled_project_keys')}" target="_blank" class="aui-icon icon-inline-help"><span>help</span></a>
		<div class="description" th:text="#{enabled.project.keys.description}"></div>
	</div>
	<script th:src="@{/js/common/admin/configuration/enabled-project-keys.js}" type="text/javascript"></script>
</th:block>

</html>
