<!--/*
    Copyright (c) 2012-present Marvelution Holding B.V.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="#features" type="org.marvelution.jji.api.features.Features"*/-->
<!--/*@thymesVar id="#tenants" type="org.marvelution.jji.templating.thymeleaf.expression.Tenants"*/-->
<th:block th:fragment="list">
	<div class="aui-group">
		<div id="site-features" class="aui-item">
			<h2 th:text="#{site.features}"></h2>
			<div class="aui-message aui-message-info">
				<p th:text="#{site.features.message}"></p>
			</div>
			<ul>
				<li th:each="feature : ${#features.getSiteFeatureFlags()}">
					<aui-toggle th:attr="label=#{enable},tooltip-on=#{enabled},tooltip-off=#{disabled}" th:name="${feature.feature}"
					            class="small" value="true" th:checked="${#features.isFeatureEnabled(feature.feature)}"
					            th:disabled="${#tenants.isInactive()}" jji:load-attr="feature-state-toggle"></aui-toggle>
					<span th:text="${feature.feature}"></span>
					<p th:text="#{__${feature.feature}__.description}"></p>
				</li>
			</ul>
		</div>
		<div id="system-features" class="aui-item">
			<h2 th:text="#{system.features}"></h2>
			<div class="aui-message aui-message-info">
				<p th:text="#{system.features.message}"></p>
			</div>
			<ul>
				<th:block th:each="feature : ${#features.getSystemFeatureFlags()}">
					<li th:if="${#features.isFeatureEnabled(feature.feature)}">
						<span th:text="${feature.feature}"></span>
						<p th:text="#{__${feature.feature}__.description}"></p>
					</li>
				</th:block>
			</ul>
		</div>
	</div>
	<div id="aui-flag-container"></div>
</th:block>
</html>
