<!--/*
    Copyright (c) 2012-present Marvelution Holding B.V.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:jji="http://www.thymeleaf.org">

<!--/*@thymesVar id="#licenses" type="org.marvelution.jji.templating.thymeleaf.expression.Licenses"*/-->
<!--/*@thymesVar id="#tenants" type="org.marvelution.jji.templating.thymeleaf.expression.Tenants"*/-->
<!--/*@thymesVar id="#jobs" type="org.marvelution.jji.templating.thymeleaf.expression.Jobs"*/-->
<!--/*@thymesVar id="#builds" type="org.marvelution.jji.templating.thymeleaf.expression.Builds"*/-->
<!--/*@thymesVar id="jobs" type="java.util.List"*/-->
<!--/*@thymesVar id="job" type="org.marvelution.jji.model.Job"*/-->
<!--/*@thymesVar id="parent" type="org.marvelution.jji.model.Job"*/-->
<!--/*@thymesVar id="build" type="org.marvelution.jji.model.Build"*/-->

<th:block th:fragment="unknown" th:with="id=${#strings.escapeXml(jobId)}">
  <header jji:if="${scope == ''}" th:replace="~{common/page :: header(#{unknown.job})}"></header>
  <div class="aui-message aui-message-warning">
    <p th:text="#{unknown.job.message(${id})}"></p>
    <ul class="aui-nav-actions-list">
      <li>
        <a th:replace="~{common/admin/site :: manageSitesLink(#{return.to.list})}"></a>
      </li>
    </ul>
  </div>
</th:block>

<th:block th:fragment="breadcrumbs">
  <li th:if="${scope == ''}"><a th:text="#{sites}" jji:load-attr="manage-sites-link"></a></li>
  <li th:with="site=${job.site}"><a th:text="${site.name}" jji:load-attr="view-site-link"></a></li>
  <li th:each="parent : ${#jobs.parents(job)}" th:with="jobId=${parent.id}">
    <a th:text="${parent.name}" jji:load-attr="admin-job-link"></a>
  </li>
  <li th:unless="${scope == ''}"><a th:text="${job.name}" jji:load-attr="admin-job-link"></a></li>
</th:block>

<th:block th:fragment="single">
  <header jji:if="${scope == ''}" th:replace="~{common/page :: header(title=${job.name}, avatar=~{::%single/header/img},
	                                            breadcrumbs=~{:: breadcrumbs}, actions=~{:: jobActions}, help='manage-jobs')}">
    <img th:src="@{|/images/icon96_${job.site.type.value()}.png|}"/>
  </header>
  <th:block jji:unless="${job.jobs.isEmpty()}" th:replace="~{:: list(${job.jobs})}"/>
  <th:block th:replace="~{:: builds}"/>
</th:block>

<th:block th:fragment="list(jobs)">
  <h3 th:text="#{jobs}"></h3>
  <table class="aui aui-table-sortable job-list">
    <thead>
    <tr>
      <th class="aui-table-column-unsortable"></th>
      <th th:text="#{job.name}"></th>
      <th th:text="#{job.oldest.build}"></th>
      <th th:text="#{job.last.build}"></th>
      <th class="aui-table-column-unsortable" th:text="#{actions}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="job : ${jobs}" th:attr="jenkins-job-id=${job.id}">
      <td>
        <aui-toggle th:replace="~{:: jobToggle}"></aui-toggle>
      </td>
      <td th:with="jobId=${job.id}">
        <a th:text="${job.name}" jji:load-attr="admin-job-link"></a>
      </td>
      <td th:if="${job.hasBuilds()}">
        <span th:if="${job.oldestBuild > 0}" th:text="${job.oldestBuild}"></span>
      </td>
      <td th:if="${job.hasBuilds()}">
        <span th:if="${job.lastBuild > 0}" th:text="${job.lastBuild}"></span>
      </td>
      <td th:unless="${job.hasBuilds()}" colspan="2">
        <span th:if="${job.linked}" th:text="#{no.builds.synced}"></span>
      </td>
      <td>
        <div th:replace="~{::jobMenu(style='link')}"></div>
      </td>
    </tr>
    </tbody>
  </table>
</th:block>

<th:block th:fragment="builds">
  <h3 th:text="#{latest.builds}"></h3>
  <table class="aui aui-table-sortable build-list" th:with="builds=${#builds.latestBuilds(job)}">
    <thead>
    <tr>
      <th>#</th>
      <th></th>
      <th th:text="#{cause}"></th>
      <th th:text="#{date}"></th>
      <th th:text="#{duration}"></th>
      <th th:text="#{related.issues}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${builds.isEmpty()}">
      <td colspan="6" style="text-align: center;">
        <span th:text="#{no.builds.synced}"></span>
      </td>
    </tr>
    <tr th:each="build : ${builds}">
      <td>
        <span th:if="${build.isDeleted()}" th:text="${build.getShortDisplayName()}"></span>
        <a th:unless="${build.isDeleted()}" target="_top" th:href="${build.displayUrl}"
           th:text="${build.getShortDisplayName()}"></a>
      </td>
      <td>
        <span class="aui-icon aui-icon-small" th:classappend="${#builds.buildResultClasses(build)}"></span>
      </td>
      <td th:text="${build.cause}"></td>
      <td>
        <span th:text="${#times.format(build.getBuildDate())}"></span>
      </td>
      <td>
        <span th:text="${build.formattedDuration}"></span>
      </td>
      <td>
        <ul>
          <li th:each="issue : ${#builds.issueReferences(build)}">
            <a target="_parent" th:href="${issue.issueUrl}" th:text="${issue.issueKey}"></a>
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</th:block>

<aui-toggle th:fragment="jobToggle" th:attr="label=#{enable.job.for.sync}" th:id="|link-job-${job.id}|" name="link-job" class="medium"
            th:value="${job.id}" th:checked="${job.linked}" th:disabled="${job.deleted} or ${#tenants.isInactive()}"
            jji:load-attr="link-job-toggle"></aui-toggle>

<th:block th:fragment="jobQuickSearch(site)">
  <input class="quick-search ajs-dirty-warning-exempt" id="job-quick-search" name="jobQuickSearch" th:title="#{job}"
         th:attr="data-placeholder=#{search.for.job},data-url=@{{baseUrl}/site/{siteId}(baseUrl=${#urls.restBaseUrl()},siteId=${site.id})},
					data-enabled=${#tenants.isActive()}">
  <a id="navigate-to-job" jji:load-attr="admin-job-link" style="display: none"></a>
  <script th:src="@{/js/common/admin/job/quick-search.js}" type="text/javascript"></script>
</th:block>

<th:block th:fragment="jobActions">
  <th:block th:replace="~{common/page :: buttons(~{:: jobToggle})}"/>
  <th:block th:replace="~{common/page :: buttons(~{:: jobQuickSearch(${job.site})})}"/>
  <th:block th:replace="~{:: jobMenu}"/>
</th:block>

<th:block th:fragment="jobMenu">
  <div th:replace="~{common/page :: buttons(~{::%jobMenu/div/button})}">
    <button class="aui-button aui-button-split-main" th:classappend="${style} ? |aui-button-${style}| : ''"
            th:disabled="${#tenants.isInactive()}" jji:load-attr="sync-job-button" th:unless="${job.site.isInaccessibleSite()}">
      <span class="aui-icon aui-icon-small aui-iconfont-refresh"></span>
      <span th:text="#{sync.job}" th:remove="tag"></span>
    </button>
    <button th:id="|job-menu-dropdown-trigger-${job.id}|"
            class="aui-button aui-dropdown2-trigger aui-button-split-more" th:classappend="${style} ? |aui-button-${style}| : ''"
            data-aui-trigger th:attr="aria-controls=|job-menu-dropdown-${job.id}|" th:text="#{actions}"
            th:disabled="${#tenants.isInactive()}"></button>
  </div>
  <aui-dropdown-menu th:id="|job-menu-dropdown-${job.id}|">
    <aui-section>
      <aui-item-link href="#" th:text="#{delete.all.builds}" th:disabled="${#tenants.isInactive()}"
                     jji:load-attr="delete-cache-button">
      </aui-item-link>
      <aui-item-link href="#" th:text="#{rebuild.build.cache}" th:disabled="${#tenants.isInactive()} or ${job.site.isInaccessibleSite()}"
                     jji:load-attr="rebuild-cache-button">
      </aui-item-link>
    </aui-section>
    <aui-section jji:features="jenkins-for-compass-setup">
      <aui-item-link href="#" th:text="#{manage.compass.links}" th:disabled="${#tenants.isInactive()}"
                     jji:load-attr="manage-compass-links-button">
      </aui-item-link>
    </aui-section>
    <aui-section th:unless="${job.deleted}">
      <aui-item-link th:text="#{go.to.job}" th:href="@{${job.displayUrl}}" target="_top"></aui-item-link>
    </aui-section>
  </aui-dropdown-menu>
</th:block>

</html>
