<!--/*
    Copyright (c) 2012-present Marvelution Holding B.V.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:jji="http://www.thymeleaf.org">

<!--/*@thymesVar id="#licenses" type="org.marvelution.jji.templating.thymeleaf.expression.Licenses"*/-->
<!--/*@thymesVar id="#tenants" type="org.marvelution.jji.templating.thymeleaf.expression.Tenants"*/-->
<!--/*@thymesVar id="#times" type="org.marvelution.jji.templating.thymeleaf.expression.Times"*/-->
<!--/*@thymesVar id="migration" type="org.marvelution.jji.api.migration.AppMigration"*/-->

<th:block th:fragment="list">
	<header th:replace="~{common/page :: header(title=#{export.import}, buttons=~{::%list/header/button})}">
		<button id="export-button" class="aui-button" th:text="#{export.data}" th:disabled="${#tenants.isInactive()}" jji:load-attr></button>
		<button id="import-button" class="aui-button" th:text="#{import.data}" th:disabled="${#tenants.isInactive()}" jji:load-attr></button>
	</header>
	<th:block th:replace="~{:: migrations(#{exports}, ${exports})}"/>
	<th:block th:replace="~{:: migrations(#{imports}, ${imports})}"/>
</th:block>

<th:block th:fragment="migrations(title, migrations)">
	<h2 th:text="${title}"></h2>
	<table class="aui">
		<thead>
		<tr>
			<th th:text="#{migration.name}"></th>
			<th th:text="#{migration.id}"></th>
			<th th:text="#{migration.created.at}"></th>
			<th th:text="#{migration.progress}"></th>
		</tr>
		</thead>
		<tbody th:if="${#lists.isEmpty(migrations)}">
		<tr>
			<td colspan="4" th:text="#{no.migrations(${title})}"></td>
		</tr>
		</tbody>
		<tbody th:unless="${#lists.isEmpty(migrations)}">
		<tr th:each="migration : ${migrations}">
			<td>
				<a th:text="${migration.name}" jji:load-attr="view-migration-link"></a>
			</td>
			<td th:text="${migration.id}"></td>
			<td th:text="${#times.format(migration.createdAt)}"></td>
			<td th:with="status = ${migration.progress}">
				<span th:class="|aui-lozenge aui-lozenge-${status.lozengeType}|" th:text="${migration.progress}"></span>
			</td>
		</tr>
		</tbody>
	</table>
</th:block>

<th:block th:fragment="export-fields">
	<div id="export-errors" class="error"></div>
	<div th:replace="~{common/form :: textField('name', #{migration.name}, #{migration.name.description}, '', true)}"></div>
	<fieldset class="group">
		<legend><span th:text="#{export.options}"></span></legend>
		<div class="checkbox">
			<input class="checkbox" type="checkbox" name="includeConfiguration" id="includeConfiguration" value="true" checked="checked">
			<label for="includeConfiguration" th:text="#{migration.export.configuration}"></label>
			<div class="description" th:text="#{migration.export.configuration.description}"></div>
			<div class="error"></div>
		</div>
		<div class="checkbox">
			<input class="checkbox" type="checkbox" name="includeIntegration" id="includeIntegration" value="true" checked="checked">
			<label for="includeIntegration" th:text="#{migration.export.integration}"></label>
			<div class="description" th:text="#{migration.export.integration.description}"></div>
		</div>
	</fieldset>
</th:block>

<th:block th:fragment="import-fields">
	<div id="import-errors" class="error"></div>
	<div th:replace="~{common/form :: textField('name', #{migration.name}, #{migration.name.description}, '', true)}"></div>
	<fieldset>
		<div class="field-group">
			<label for="importFile">
				<span th:text="#{import.file}" th:remove="tag"></span>
				<span class="aui-icon icon-required">required</span>
			</label>
			<label class="ffi" data-ffi-button-text="Browse">
				<input type="file" id="importFile" name="importFile" th:attr="aria-label=#{import.file}">
			</label>
		</div>
	</fieldset>
	<fieldset class="group">
		<legend><span th:text="#{import.options}"></span></legend>
		<div class="checkbox">
			<input class="checkbox" type="checkbox" name="blankImport" id="blankImport" value="true">
			<label for="blankImport" th:text="#{migration.import.blank}"></label>
			<div class="description" th:text="#{migration.import.blank.description}"></div>
		</div>
		<div class="checkbox">
			<input class="checkbox" type="checkbox" name="includeConfiguration" id="includeConfiguration" value="true" checked="checked">
			<label for="includeConfiguration" th:text="#{migration.import.configuration}"></label>
			<div class="description" th:text="#{migration.import.configuration.description}"></div>
			<div class="error"></div>
		</div>
		<div class="checkbox">
			<input class="checkbox" type="checkbox" name="includeIntegration" id="includeIntegration" value="true" checked="checked">
			<label for="includeIntegration" th:text="#{migration.import.integration}"></label>
			<div class="description" th:text="#{migration.import.integration.description}"></div>
		</div>
	</fieldset>
	<script th:src="@{/js/common/admin/migration/import-form.js}" type="text/javascript"></script>
</th:block>

<th:block th:fragment="details">
	<table class="aui">
		<tbody>
		<tr>
			<th scope="row" th:text="#{migration.name}"></th>
			<td th:text="${migration.name}"></td>
		</tr>
		<tr>
			<th scope="row" th:text="#{migration.id}"></th>
			<td th:text="${migration.id}"></td>
		</tr>
		<tr>
			<th scope="row" th:text="#{migration.type}"></th>
			<td th:text="#{migration.type.__${migration.type}__}"></td>
		</tr>
		<tr>
			<th scope="row" th:text="#{migration.progress}"></th>
			<td th:with="status = ${migration.progress}">
				<span th:class="|aui-lozenge aui-lozenge-${status.lozengeType}|" th:text="${migration.progress}"></span>
			</td>
		</tr>
		<tr>
			<th scope="row" th:text="#{migration.created.at}"></th>
			<td th:text="${#times.format(migration.createdAt)}"></td>
		</tr>
		<tr th:if="${downloadLink}">
			<th scope="row" th:text="#{migration.download.link}"></th>
			<td>
				<a th:href="${downloadLink}" th:text="${migration.id}"></a>
			</td>
		</tr>
		<tr th:replace="~{:: details__${migration.type}__(${migration.getEvent()})}"></tr>
		</tbody>
	</table>
	<th:block th:if="${warnings} or ${errors} or ${info}">
		<h3 th:text="#{migration.messages}"></h3>
		<th:block th:if="${errors}">
			<div th:each="error : ${errors}" class="aui-message aui-message-error error">
				<p th:utext="${error}"></p>
			</div>
		</th:block>
		<th:block th:if="${warnings}">
			<div th:each="warning : ${warnings}" class="aui-message aui-message-warning warning">
				<p th:utext="${warning}"></p>
			</div>
		</th:block>
		<th:block th:if="${info}">
			<div th:each="in : ${info}" class="aui-message aui-message-info info">
				<p th:utext="${in}"></p>
			</div>
		</th:block>
	</th:block>
</th:block>

<tr th:fragment="detailsIMPORT(event)">
	<th scope="row" th:text="#{import.options}"></th>
	<td>
		<ul style="list-style: none; padding-left: 0;">
			<li th:if="${event.blankImport}" th:text="#{migration.import.blank}"></li>
			<li th:if="${event.includeConfiguration}" th:text="#{migration.import.configuration}"></li>
			<li th:if="${event.includeIntegration}" th:text="#{migration.import.integration}"></li>
		</ul>
	</td>
</tr>

<tr th:fragment="detailsEXPORT(event)">
	<th scope="row" th:text="#{export.options}"></th>
	<td>
		<ul style="list-style: none; padding-left: 0;">
			<li th:if="${event.includeConfiguration}" th:text="#{migration.export.configuration}"></li>
			<li th:if="${event.includeIntegration}" th:text="#{migration.export.integration}"></li>
		</ul>
	</td>

</tr>

<tr th:fragment="detailsJCMA(event)">
	<th scope="row" th:text="#{jcma.event}"></th>
	<td>
		<ul style="list-style: none; padding-left: 0;">
			<li th:text="#{jcma.see.jira.server}"></li>
			<li th:text="${event.migrationDetails.name}"></li>
			<li th:text="${event.migrationDetails.migrationId}"></li>
		</ul>
	</td>
</tr>

</html>
