<!--/*
    Copyright (c) 2012-present Marvelution Holding B.V.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:jji="http://www.thymeleaf.org">
<!--/*@thymesVar id="#urls" type="org.marvelution.jji.templating.thymeleaf.expression.Urls"*/-->
<!--/*@thymesVar id="#config" type="org.marvelution.jji.templating.thymeleaf.expression.Config"*/-->

<li th:fragment="navOption(id, text, selected)" th:classappend="${selected} ? 'aui-nav-selected' : ''">
	<a jji:load-attr="'project-admin-tab-' + ${id}">
		<span th:if="${selected}" class="assistive">Selected item:</span><span th:remove="tag" th:text="${text}"></span>
	</a>
</li>

<th:block th:fragment="page">
	<header th:replace="~{:: header-__${tab}__(#{jenkins.integration})}"></header>
	<nav class="aui-navgroup aui-navgroup-horizontal" style="margin: 0 20px;">
		<div class="aui-navgroup-inner">
			<div class="aui-navgroup-primary">
				<ul class="aui-nav">
					<li th:replace="~{:: navOption('config', #{configuration}, ${tab == 'config'})}"></li>
					<li th:replace="~{:: navOption('sites', #{sites}, ${tab == 'sites'})}"></li>
				</ul>
			</div>
		</div>
	</nav>
	<div style="margin: 5px 20px 0;">
		<ol jji:if="${job}" th:replace="~{common/page :: breadcrumbs(~{common/admin/job :: breadcrumbs})}"></ol>
		<ol jji:if="${site}" th:replace="~{common/page :: breadcrumbs(~{common/admin/site :: breadcrumbs})}"></ol>
	</div>
	<div class="aui-page-panel" style="height: calc(100vh - 50px); border: none;">
		<div class="aui-page-panel-inner">
			<main id="main" role="main" class="aui-page-panel-content" th:insert="~{:: tab-__${tab}__}"></main>
		</div>
	</div>
</th:block>

<th:block th:fragment="preActions">
	<div th:replace="~{common/page :: buttons(~{::%preActions/div[0]/button})}">
		<button jji:if="${jobId} or ${siteId}" th:replace="~{common/admin/site :: manageSitesLink(#{return.to.list})}"></button>
	</div>
	<div th:replace="~{common/page :: buttons(~{::%preActions/div[1]/a})}">
		<a jji:if="${tab == 'sites'} and ${#permissions.isJiraAdmin()}" th:text="#{global.configuration}"
		        jji:load-attr="global-sites-link" class="aui-button aui-button-link"></a>
		<a jji:if="${tab == 'config'} and ${#permissions.isJiraAdmin()}" th:text="#{global.configuration}"
		        jji:load-attr="global-config-link" class="aui-button aui-button-link"></a>
	</div>
</th:block>

<th:block th:fragment="header-config(title)">
	<header th:replace="~{common/page :: header(title=${title}, preActions=~{:: preActions}, help='configuration')}"></header>
</th:block>

<th:block th:fragment="tab-config">
	<th:block th:replace="~{common/admin/configuration :: page}"></th:block>
</th:block>

<th:block th:fragment="header-sites(title)">
	<th:block th:switch="${template}">
		<th:block th:case="single">
			<header jji:if="${job}" th:replace="~{common/page :: header(title=${title}, preActions=~{:: preActions},
									actions=~{common/admin/job:: jobActions}, help='manage-jobs')}"></header>
			<header jji:if="${site}" th:replace="~{common/page :: header(title=${title}, buttons=~{common/admin/job :: jobQuickSearch(${site})},
									preActions=~{:: preActions}, actions=~{common/admin/site ::siteMenu}, help='manage-site')}"></header>
		</th:block>
		<th:block th:case="unknown">
			<header jji:if="${jobId}"
			        th:replace="~{common/page :: header(title=${title}, preActions=~{:: preActions}, help='manage-jobs')}"></header>
			<header jji:if="${siteId}"
			        th:replace="~{common/page :: header(title=${title}, preActions=~{:: preActions}, help='manage-site')}"></header>
		</th:block>
		<th:block th:case="*">
			<header jji:if="!${job} and !${site}"
			        th:replace="~{common/admin/site :: listHeader(title=${title}, preActions=~{:: preActions})}">
			</header>
		</th:block>
	</th:block>
</th:block>

<th:block th:fragment="tab-sites">
	<th:block jji:if="${jobId}" th:replace="~{common/admin/job :: __${template}__}"></th:block>
	<th:block jji:if="${siteId}" th:replace="~{common/admin/site :: __${template}__}"></th:block>
	<th:block jji:if="!${jobId} and !${siteId}" th:replace="~{common/admin/site :: __${template}__}"></th:block>
</th:block>
</html>
