<!--/*
    Copyright (c) 2012-present Marvelution Holding B.V.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:jji="http://www.thymeleaf.org">

<!--/*@thymesVar id="#licenses" type="org.marvelution.jji.templating.thymeleaf.expression.Licenses"*/-->
<!--/*@thymesVar id="#tenants" type="org.marvelution.jji.templating.thymeleaf.expression.Tenants"*/-->
<!--/*@thymesVar id="#tenants" type="com.marvelution.jji.addon.thymeleaf.expression.Tenants"*/-->
<!--/*@thymesVar id="#sites" type="com.marvelution.jji.addon.thymeleaf.expression.Sites"*/-->
<!--/*@thymesVar id="#urls" type="org.marvelution.jji.templating.thymeleaf.expression.Urls"*/-->

<!--/*@thymesVar id="siteId" type="java.lang.String"*/-->
<!--/*@thymesVar id="sites" type="java.util.List"*/-->
<!--/*@thymesVar id="site" type="org.marvelution.jji.model.Site"*/-->
<!--/*@thymesVar id="job" type="org.marvelution.jji.model.Job"*/-->

<a th:fragment="manageSitesLink(text)" class="aui-button aui-button-link" th:text="${text}" jji:load-attr="manage-sites-link"></a>

<th:block th:fragment="unknown" th:with="id=${#strings.escapeXml(siteId)}">
	<header jji:if="${scope == ''}" th:replace="~{common/page :: header(#{unknown.site})}"></header>
	<div class="aui-message aui-message-warning">
		<p th:text="#{unknown.site.message(${id})}"></p>
		<ul class="aui-nav-actions-list">
			<li>
				<a th:replace="~{:: manageSitesLink(#{return.to.list})}"></a>
			</li>
		</ul>
	</div>
</th:block>

<header th:fragment="listHeader(title)"
		th:replace="~{common/page :: header(title=${title}, buttons=~{::%listHeader/button}, help='manage-sites')}">
	<button jji:unless="${sites.isEmpty()}" th:replace="~{:: addSiteButton(text=#{connect.site}, style='primary')}"></button>
</header>

<th:block th:fragment="list">
	<header jji:if="${scope == ''}" th:replace="~{:: listHeader(#{manage.sites})}"></header>
	<table th:unless="${sites.isEmpty()}" class="aui aui-table-sortable site-list">
		<thead>
		<tr>
			<th class="aui-table-column-unsortable"></th>
			<th th:text="#{site.name}"></th>
			<th th:text="#{site.url}"></th>
			<th class="aui-table-column-unsortable" th:text="#{actions}"></th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="site : ${sites}" th:attr="jenkins-site-id=${site.id}">
			<td>
				<img th:src="@{|/images/icon96_${site.type.value()}.png|}"/>
			</td>
			<td th:with="badge=${#sites.badge(site)}">
				<a th:text="${site.name}" jji:load-attr="view-site-link"></a>
				<aui-badge th:if="${badge}" th:text="${badge}"></aui-badge>
			</td>
			<td>
				<a th:href="${site.rpcUrl}" th:text="${site.rpcUrl}" target="_top"></a>
				<span class="aui-lozenge aui-lozenge-subtle" th:text="#{site.status.checking}"></span>
				<script th:src="@{/js/common/admin/site/status.js}" type="text/javascript"
								th:attr="data-field-id='tr[jenkins-site-id='+${site.id}+'] .aui-lozenge',
								data-status-url=@{{baseUrl}/site/{id}/status(baseUrl=${#urls.restBaseUrl()},id=${site.id})}"></script>
			</td>
			<td>
				<div th:replace="~{::siteMenu(style='link')}"></div>
			</td>
		</tr>
		</tbody>
	</table>
	<div th:if="${sites.isEmpty()}" class="jenkins-integration-start">
		<div th:replace="~{common/common :: logo}"></div>
		<ol>
			<li>
				<h5 th:text="#{steps.connect}">Connect</h5>
				<div th:text="#{steps.connect.description}">Connect description.</div>
			</li>
			<li>
				<h5 th:text="#{steps.build}">Build</h5>
				<div th:text="#{steps.build.description}">Build description.</div>
			</li>
			<li>
				<h5 th:text="#{steps.insight}">Get Insight</h5>
				<div th:text="#{steps.insight.description}">Get insight description.</div>
			</li>
		</ol>
		<div class="aui-buttons">
			<button th:replace="~{:: addSiteButton(text=#{connect.your.first.jenkins.site}, style='primary')}"></button>
			<a class="aui-button" target="_blank" th:href="@{${#urls.helpUrl('getting-started')}}"
			   th:text="#{quick.start.guide}"></a>
		</div>
	</div>
</th:block>

<button th:fragment="addSiteButton(text)" id="add-site-button" class="aui-button" th:classappend="${style} ? |aui-button-${style}| : ''"
		th:text="${text}" th:disabled="${#tenants.isInactive()}" jji:load-attr></button>

<th:block th:fragment="breadcrumbs">
	<li th:if="${scope == ''}"><a th:text="#{sites}" jji:load-attr="manage-sites-link"></a></li>
	<li th:if="${scope != ''}"><a th:text="${site.name}" jji:load-attr="view-site-link"></a></li>
</th:block>

<th:block th:fragment="single">
	<header jji:if="${scope == ''}" th:replace="~{common/page :: header(title=${site.name}, avatar=~{::%single/header/img},
			breadcrumbs=~{:: breadcrumbs}, buttons=~{common/admin/job :: jobQuickSearch(${site})}, actions=~{::siteMenu}, help='manage-site')}">
		<img th:src="@{|/images/icon96_${site.type.value()}.png|}"/>
	</header>
	<table jji:if="${site.hasJobs()}" th:replace="~{common/admin/job :: list(${site.jobs})}"></table>
	<div th:unless="${site.hasJobs()}" class="jenkins-integration-start">
		<div th:replace="~{common/common :: logo}"></div>
		<ol>
			<li>
				<h5 th:text="#{steps.define.jobs}">Define Jobs</h5>
				<div th:text="#{steps.define.jobs.description}">Define jobs description.</div>
			</li>
			<li>
				<h5 th:text="#{steps.build}">Build</h5>
				<div th:text="#{steps.build.description}">Build description.</div>
			</li>
			<li>
				<h5 th:text="#{steps.insight}">Get Insight</h5>
				<div th:text="#{steps.insight.description}">Get insight description.</div>
			</li>
		</ol>
		<div class="aui-buttons">
			<a class="aui-button aui-button-primary" th:text="#{go.define.jobs(${site.name})}" th:href="${site.displayUrl}"
			   target="_blank"></a>
			<button class="aui-button" th:text="#{manage.connection}" th:disabled="${#tenants.isInactive()}"
			        jji:load-attr="manage-site-connection-button">
			</button>
		</div>
	</div>
</th:block>

<th:block th:fragment="siteMenu">
	<th:block th:if="${#permissions.isJiraAdmin()} or ${#sites.canManage(site)}">
		<div jji:unless="${site.registrationComplete}" th:replace="~{common/page :: buttons(~{::registrationWarning})}"></div>
		<div class="main" th:replace="~{common/page :: buttons(~{::mainActions})}"></div>
		<aui-dropdown-menu th:id="|site-menu-dropdown-${site.id}|">
			<aui-section>
				<aui-item-link href="#" th:text="#{cleanup.jobs}" jji:load-attr="delete-site-jobs-button"
				               th:disabled="!${site.hasDeletedJobs()} or ${#tenants.isInactive()}">
				</aui-item-link>
				<aui-item-link href="#" th:text="#{manage.jobs}" th:disabled="${#tenants.isInactive()}"
				               jji:load-attr="manage-site-jobs-button">
				</aui-item-link>
			</aui-section>
			<aui-section>
				<aui-item-checkbox th:text="#{sync.site.enabled}" th:disabled="${#tenants.isInactive()}"
				                   th:checked="${site.enabled}" jji:load-attr="site-enabled-button">
				</aui-item-checkbox>
				<aui-item-checkbox th:text="#{site.auto.link.new.jobs}" th:disabled="${#tenants.isInactive()}"
				                   th:checked="${site.autoLinkNewJobs}" jji:load-attr="auto-link-new-jobs-button">
				</aui-item-checkbox>
				<aui-item-link href="#" th:text="#{edit}" th:disabled="${#tenants.isInactive()}" jji:load-attr="edit-site-button">
				</aui-item-link>
				<aui-item-link href="#" th:text="#{delete}" th:disabled="${#tenants.isInactive()}" jji:load-attr="delete-site-button">
				</aui-item-link>
			</aui-section>
			<aui-section>
				<aui-item-link href="#" th:text="#{manage.connection}" th:disabled="${#tenants.isInactive()}"
				               jji:load-attr="manage-site-connection-button">
				</aui-item-link>
			</aui-section>
			<aui-section>
				<aui-item-link th:text="#{go.to.site}" th:href="@{${site.displayUrl}}" target="_top"></aui-item-link>
			</aui-section>
		</aui-dropdown-menu>
	</th:block>
</th:block>

<th:block th:fragment="registrationWarning">
	<button class="aui-button aui-button-subtle registration-warning" th:classappend="${style} ? |aui-button-${style}| : ''"
	        jji:disabled="${#tenants.isActive()}" jji:load-attr="manage-site-connection-button"
	        th:title="#{site.registration.incomplete(${site.name})}">
			<span class="aui-icon aui-icon-small aui-iconfont-warning" style="color: #FFAB00;"
			      th:text="#{site.registration.incomplete(${site.name})}"></span>
	</button>
</th:block>
<th:block th:fragment="mainActions">
	<button class="aui-button aui-button-split-main" th:classappend="${style} ? |aui-button-${style}| : ''"
	        th:disabled="${#tenants.isInactive()}" jji:load-attr="sync-site-button" th:unless="${site.isInaccessibleSite()}">
		<span class="aui-icon aui-icon-small aui-iconfont-refresh"></span>
		<span th:text="#{sync.site}" th:remove="tag"></span>
	</button>
	<button class="aui-button aui-button-split-main" th:classappend="${style} ? |aui-button-${style}| : ''"
	        th:disabled="${#tenants.isInactive()}" jji:load-attr="manage-site-connection-button" th:if="${site.isInaccessibleSite()}"
	        th:text="#{manage.connection}">
	</button>
	<button th:id="|site-menu-dropdown-trigger-${site.id}|" class="aui-button aui-dropdown2-trigger aui-button-split-more"
	        th:classappend="${style} ? |aui-button-${style}| : ''" data-aui-trigger th:disabled="${#tenants.isInactive()}"
	        th:attr="aria-controls=|site-menu-dropdown-${site.id}|" th:text="#{actions}"></button>
</th:block>

<div th:fragment="deleteMessage" class="aui-message aui-message-error">
	<p th:with="name=${#strings.escapeXml(site.name)}" th:utext="#{delete.site.warning(${name})}"></p>
</div>

<div th:fragment="deleteJobsMessage" class="aui-message aui-message-error">
	<p th:with="name=${#strings.escapeXml(site.name)}" th:utext="#{delete.site.jobs.warning(${name})}"></p>
</div>

<th:block th:fragment="manageJobs">
	<div th:unless="${site.hasJobs()}" class="aui-message aui-message-warning">
		<p class="title" th:text="#{no.jobs.to.manage.warning.title}"></p>
		<p th:text="#{no.jobs.to.manage.warning.message}"></p>
	</div>
	<th:block th:if="${site.hasJobs()}">
		<div th:text="#{manage.jobs.description}"></div>
		<div class="error"></div>
		<div class="field-group">
			<label for="jobIds" th:text="#{jobs}">Jobs</label>
			<input class="select full-width-field" id="jobIds" name="jobIds" th:title="#{jobs}"
			       th:attr="data-placeholder=#{search.for.job},data-url=@{{baseUrl}/site/{siteId}(baseUrl=${#urls.restBaseUrl()},siteId=${site.id})}">
			<div class="description"></div>
		</div>
		<fieldset class="group">
			<legend><span th:text="#{operations}"></span></legend>
			<div class="checkbox" th:each="operation : ${operations}">
				<input class="checkbox" type="checkbox" name="operations" th:id="${'op_' + operation.name()}"
				       th:value="${operation.name()}">
				<label th:for="${'op_' + operation.name()}" th:text="#{__${operation.i18n()}__}"></label>
				<div class="description" th:text="#{bulk.__${operation.i18n()}__.description}"></div>
			</div>
		</fieldset>
		<script th:src="@{/js/common/admin/site/manage-jobs.js}" type="text/javascript"></script>
	</th:block>
</th:block>
</html>
