<!--/*
    Copyright (c) 2012-present Marvelution Holding B.V.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="config" type="org.marvelution.jji.model.request.WorkflowPostFunctionConfiguration"*/-->

<th:block th:fragment="view">
  <span th:if="${config.isLinked()}" th:text="#{trigger.build.by.link.description}"></span>
  <span th:if="${config.isByConvention()}" th:text="#{trigger.build.by.convention.description}"></span>
  <span th:if="${config.isSpecificJob()}" th:text="#{trigger.build.of.x.job(${config.specificJob.displayName})}"></span>
  <span th:if="${config.isByIssueField() and config.isExactMatch()}"
        th:text="#{trigger.build.by.issuefield.exact.x.description(${config.getByIssueField()})}"></span>
  <span th:if="${config.isByIssueField() and !config.isExactMatch()}"
        th:text="#{trigger.build.by.issuefield.x.description(${config.getByIssueField()})}"></span>
</th:block>

<th:block th:fragment="edit">
  <fieldset class="group">
    <legend><span th:text="#{trigger.build.job.selector}"></span></legend>
    <div class="radio">
      <input class="radio" type="radio" id="byLink" name="type" value="linked"
             th:checked="${config.isLinked()}">
      <label for="byLink" th:text="#{trigger.build.by.link}"></label>
      <div class="description" th:text="#{trigger.build.by.link.description}"></div>
    </div>
    <div class="radio">
      <input class="radio" type="radio" id="byConvention" name="type" value="byConvention"
             th:checked="${config.isByConvention()}">
      <label for="byConvention" th:text="#{trigger.build.by.convention}"></label>
      <div class="description" th:text="#{trigger.build.by.convention.description}"></div>
    </div>
    <div class="radio">
      <input class="radio" type="radio" id="specificJob" name="type" value="specificJob" th:checked="${config.isSpecificJob()}">
      <label for="specificJob" th:text="#{trigger.build.of.job}"></label>
      <div class="error"></div>
    </div>
    <div class="radio other">
      <th:block th:replace="~{common/form :: buildableJobSelector('specific-job', '', #{trigger.build.job.selector.description},
															    ${config.specificJob} ? ${config.specificJob.id} : '', false)}"/>
    </div>
    <div class="radio">
      <input class="radio" type="radio" id="byIssueField" name="type" value="byIssueField" th:checked="${config.isByIssueField()}">
      <label for="byIssueField" th:text="#{trigger.build.by.issuefield}"></label>
      <div class="description" th:text="#{trigger.build.by.issuefield.description}"></div>
      <div class="error"></div>
    </div>
    <div class="radio other">
      <div class="field-group">
        <label for="issue-field"></label>
        <input class="select long-field" id="issue-field" name="issue-field" th:value="${config.getByIssueField()}"
               th:attr="data-placeholder=#{trigger.build.by.issuefield.placeholder},data-url=@{{baseUrl}/configuration/fields(baseUrl=${#urls.restBaseUrl()})}">
        <a th:href="${#urls.helpUrl('issue-field')}" target="_blank" class="aui-icon icon-inline-help"><span>help</span></a>
      </div>
      <script th:src="@{/js/common/form/issue-fields.js}" data-field-id="issue-field" type="text/javascript"></script>
      <div class="checkbox">
        <input type="checkbox" class="checkbox" name="exact-match" id="exact-match" value="true" th:checked="${config.isExactMatch()}"/>
        <label for="exact-match" th:text="#{trigger.build.by.issuefield.exact-match}"></label>
      </div>
      <div th:replace="~{common/form :: textField(id='issue-field-mapping', title=#{trigger.build.by.issuefield.mapper},
											  description=#{trigger.build.by.issuefield.mapper.description},
                        value=${config.getByIssueFieldMapping()}, required=false, fieldSize='long-field')}"></div>
      <div class="field-group">
        <input class="text short-field" type="text" id="evaluator-issuekey" th:placeholder="#{enter.issue.key}">
        <button id="evaluator" class="aui-button" th:text="#{evaluate.mapper}"
                th:attr="data-url=@{{baseUrl}/configuration/parameter-issue-fields(baseUrl=${#urls.restBaseUrl()})}"></button>
        <div class="description" th:text="#{evaluate.mapper.description}"></div>
        <pre id="evaluator-output"></pre>
      </div>
      <script th:src="@{/js/common/panel/trigger-issue-field-mapper.js}" type="text/javascript"></script>
    </div>
  </fieldset>
</th:block>

</html>
