<!--/*
    Copyright (c) 2012-present Marvelution Holding B.V.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="textField(id, title, description, value, required)" class="field-group" th:with="type=${type ?: 'text'}">
	<label th:for="${id}">
		<span th:text="${title}" th:remove="tag"></span>
		<span th:if="${required}" class="aui-icon icon-required">required</span>
	</label>
	<input th:type="${type}" th:classappend="${type} + ' ' + (${fieldSize} ?: 'full-width') + '-field'"
	       th:id="${id}" th:name="${name} ?: ${id}" th:title="${title}" th:value="${value}" th:disabled="${disabled}"
	       th:readonly="${readonly}">
	<div th:if="${type} == 'password'" class="view-password">
		<span class="aui-icon aui-icon-large aui-iconfont-new-watch">view password</span>
	</div>
	<a th:if="${help}" th:href="${help}" target="_blank" class="aui-icon icon-inline-help"><span>help</span></a>
	<div class="description">
		<span th:utext="${description}"></span>
		<span th:if="${info}" th:utext="${info}"></span>
	</div>
	<div class="error"></div>
	<script th:if="${type} == 'password'" th:src="@{/js/common/form/view-password.js}" type="text/javascript"
	        th:attr="data-field-id=${id}"></script>
</div>

<div th:fragment="textareaField(id, title, description, value, required)" class="field-group">
	<label th:for="${id}">
		<span th:text="${title}" th:remove="tag"></span>
		<span th:if="${required}" class="aui-icon icon-required">required</span>
	</label>
	<textarea class="textarea" rows="6" cols="10" th:classappend="'full-width' + (${help} ? '-with-help' : '') + '-field'"
	          th:id="${id}" th:name="${name} ? ${name} : ${id}" th:title="${title}" th:text="${value}" th:disabled="${disabled}"
	          th:readonly="${readonly}"></textarea>
	<a th:if="${help}" th:href="${help}" target="_blank" class="aui-icon icon-inline-help"><span>help</span></a>
	<div class="description">
		<span th:utext="${description}"></span>
		<span th:if="${info}" th:utext="${info}"></span>
	</div>
	<div class="error"></div>
</div>

<th:block th:fragment="buildableJobSelector(id, title, description, value, multiple)">
	<div class="field-group" th:classappend="${id + '_group'} + ${multiple ? ' multiple' : ''}">
		<label th:for="${id}" th:text="${title}"></label>
		<input class="select long-field" th:id="${id}" th:name="${id}" th:title="${title}" th:value="${value}"
		       th:attr="data-placeholder=#{search.for.job},data-url=@{{baseUrl}/job/buildable(baseUrl=${#urls.restBaseUrl()})}">
		<div class="description" th:utext="${description}"></div>
	</div>
	<script th:src="@{/js/common/form/buildable-job-selector.js}" type="text/javascript"
			th:attr="data-field-id=${id},data-multiple=${multiple}"></script>
</th:block>

</body>
</html>
