<!--/*
    Copyright (c) 2012-present Marvelution Holding B.V.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:jji="http://www.thymeleaf.org">

<header th:fragment="header(title)" class="aui-page-header jenkins-page-header">
	<th:block th:replace="~{common/license :: warning}"/>
	<th:block jji:if="${notices}" th:replace="${notices}"/>
	<div class="aui-page-header-inner">
		<div th:if="${avatar}" class="aui-page-header-image">
		    <span class="aui-avatar aui-avatar-large">
		        <span class="aui-avatar-inner">
		            <img th:replace="${avatar}">
		        </span>
		    </span>
		</div>
		<div class="aui-page-header-main">
			<ol jji:if="${breadcrumbs}"  th:replace="~{:: breadcrumbs(${breadcrumbs})}"></ol>
			<h1 th:text="${title}"></h1>
		</div>
		<div class="aui-page-header-actions">
			<th:block jji:if="${preActions}" th:replace="${preActions}"/>
			<div jji:if="${help}" th:replace="~{:: buttons(~{common/links :: help(${help})})}"></div>
			<th:block jji:if="${buttons}" th:replace="~{:: buttons(${buttons})}"/>
			<th:block jji:if="${actions}" th:replace="${actions}"/>
		</div>
	</div>
</header>

<div th:fragment="buttons(buttons)" class="aui-buttons">
	<th:block jji:if="${buttons}" th:replace="${buttons}"/>
</div>

<ol th:fragment="breadcrumbs(breadcrumbs)" class="aui-nav aui-nav-breadcrumbs">
	<li th:replace="${breadcrumbs}"></li>
</ol>

</html>
