<!--/*
    Copyright (c) 2012-present Marvelution Holding B.V.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:jji="http://www.thymeleaf.org">
<body>

<!--/*@thymesVar id="jobs" type="java.util.List"*/-->
<!--/*@thymesVar id="job" type="org.marvelution.jji.data.helper.PanelJob"*/-->
<!--/*@thymesVar id="build" type="org.marvelution.jji.data.helper.PanelBuild"*/-->
<!--/*@thymesVar id="hasFirewalledSites" type="java.lang.Boolean"*/-->

<div th:fragment="jobLink(job)" class="job">
	<span th:if="${job.isDeleted()}" th:text="${job.displayName}">job</span>
	<span th:unless="${job.isDeleted()}">
		<a target="_top" th:href="${job.displayUrl}" th:text="${job.displayName}">job</a>
	</span>
</div>

<div th:fragment="buildPanel(build, latest)" class="jenkins-build" th:id="|jenkins-build-${build.id}|">
	<div class="col" th:classappend="${build.getBuildColor()}">
		<span class="aui-icon aui-icon-small" th:classappend="|${build.getBuildIcon()} ${build.getBuildColor()}|"></span>
		<span th:text="${build.getShortDisplayName()}" th:if="${build.isDeleted()}">1</span>
		<span th:unless="${build.isDeleted()}">
			<a target="_top" th:href="${build.displayUrl}" th:text="${build.getShortDisplayName()}">1</a>
		</span>
		<i th:if="${latest}" th:text="#{_latest_}">(latest)</i>
	</div>
	<div class="col" th:if="${build.testResults} != null and ${build.testResults.passed} == ${build.testResults.total}">
		<span th:text="#{passing.tests(${build.testResults.passed})}">...</span>
	</div>
	<div class="col" th:if="${build.testResults} != null and ${build.testResults.passed} != ${build.testResults.total}">
		<span th:text="#{failing.tests(${build.testResults.failed}, ${build.testResults.skipped})}">...</span>
	</div>
	<div class="col" th:if="${build.testResults} == null" th:text="#{no.tests}"></div>
	<div class="col text-right">
		<span th:text="${#times.format(build.date)}"></span>
	</div>
</div>

<tr th:fragment="jenkinsJobRow(job, build, latest)" th:classappend="${latest ? '' : 'history-build'}"
    th:attr="jenkins-build-id=${build.id},jenkins-job-id=${job.id}">
	<td headers="jenkins-job">
		<th:block th:if="${latest}">
			<span th:if="${job.isDeleted()}" th:text="${job.displayName}">job</span>
			<span th:unless="${job.isDeleted()}">
				<a target="_top" th:href="${job.displayUrl}" th:text="${job.displayName}">job</a>
			</span>
		</th:block>
	</td>
	<td headers="jenkins-job-build" th:classappend="${build.getBuildColor()}">
		<span class="aui-icon aui-icon-small" th:classappend="|${build.getBuildIcon()} ${build.getBuildColor()}|"></span>
		<span th:text="${build.getShortDisplayName()}" th:if="${build.isDeleted()}">1</span>
		<span th:unless="${build.isDeleted()}">
			<a target="_top" th:href="${build.displayUrl}" th:text="${build.getShortDisplayName()}">1</a>
		</span>
		<i th:if="${latest}" th:text="#{_latest_}">(latest)</i>
	</td>
	<td headers="jenkins-job-testresults">
		<span th:if="${build.testResults} != null and ${build.testResults.passed} == ${build.testResults.total}"
		      th:text="#{passing.tests(${build.testResults.passed})}">...</span>
		<span th:if="${build.testResults} != null and ${build.testResults.passed} != ${build.testResults.total}"
		      th:text="#{failing.tests(${build.testResults.failed}, ${build.testResults.skipped})}">...</span>
		<span th:if="${build.testResults} == null" th:text="#{no.tests}">...</span>
	</td>
	<td headers="jenkins-job-date" class="text-right">
		<span th:text="${#times.format(build.date)}"></span>
	</td>
</tr>

<tr th:fragment="jenkinsDeploymentRow(build, latest)" th:classappend="${latest ? '' : 'history-build'}"
    th:attr="jenkins-build-id=${build.id},jenkins-job-id=${build.job.id}">
	<td headers="jenkins-deployment">
		<span th:if="${build.job.isDeleted()}" th:text="${build.job.displayName}">deployment</span>
		<span th:unless="${build.job.isDeleted()}">
			<a target="_top" th:href="${build.job.displayUrl}" th:text="${build.job.displayName}">deployment</a>
		</span>
	</td>
	<td headers="jenkins-deployment-build" th:classappend="${build.getBuildColor()}">
		<span class="aui-icon aui-icon-small" th:classappend="|${build.getBuildIcon()} ${build.getBuildColor()}|"></span>
		<span th:text="${build.getShortDisplayName()}" th:if="${build.isDeleted()}">1</span>
		<span th:unless="${build.isDeleted()}">
			<a target="_top" th:href="${build.displayUrl}" th:text="${build.getShortDisplayName()}">1</a>
		</span>
		<i th:if="${latest}" th:text="#{_latest_}">(latest)</i>
	</td>
	<td headers="jenkins-deployment-date" class="text-right">
		<span th:text="${#times.format(build.date)}"></span>
	</td>
</tr>

<div th:fragment="buildsDialog" class="jenkins-builds-dialog">
	<div class="aui-tabs horizontal-tabs">
		<ul class="tabs-menu">
			<li class="menu-item" th:classappend="${tab == 'builds' ? 'active-tab' : ''}">
				<a href="#tabs-builds" th:text="#{builds}"></a>
			</li>
			<li class="menu-item" th:classappend="${tab == 'deployments' ? 'active-tab' : ''}">
				<a href="#tabs-deployments" th:text="#{deployments}"></a>
			</li>
			<li>
				<aui-toggle class="small" id="show-full-history" th:label="#{show.full.history}"></aui-toggle>
				<aui-label for="show-full-history" th:text="#{show.full.history}"></aui-label>
			</li>
		</ul>
		<div class="tabs-pane" th:classappend="${tab == 'builds' ? 'active-pane' : ''}" id="tabs-builds">
			<table class="aui aui-table-list collapsed">
				<thead>
				<tr>
					<th id="jenkins-job" th:text="#{job}"></th>
					<th id="jenkins-job-build" th:text="#{build}"></th>
					<th id="jenkins-job-testresults" th:text="#{test.results}"></th>
					<th id="jenkins-job-date" class="text-right" th:text="#{date}"></th>
				</tr>
				</thead>
				<tbody th:if="${#lists.isEmpty(jobs)}">
				<tr>
					<td colspan="4">
						<div class="message-container" th:text="#{no.builds}"></div>
					</td>
				</tr>
				</tbody>
				<tbody th:unless="${#lists.isEmpty(jobs)}">
				<th:block th:each="job : ${jobs}" th:with="lastBuild=${job.getLastBuild()}">
					<tr th:replace="~{:: jenkinsJobRow(${job}, ${lastBuild}, true)}"></tr>
					<th:block th:each="build : ${job.getBuilds()}">
						<th:block th:unless="${lastBuild.equals(build)}">
							<tr th:replace="~{:: jenkinsJobRow(${job}, ${build}, false)}"></tr>
						</th:block>
					</th:block>
				</th:block>
				</tbody>
			</table>
		</div>
		<div class="tabs-pane" th:classappend="${tab == 'deployments' ? 'active-pane' : ''}" id="tabs-deployments">
			<div class="message-container" th:if="${#lists.isEmpty(deployments)}" th:text="#{no.deployments}"></div>
			<th:block th:each="deployment : ${deployments}" th:with="lastBuild=${deployment.getLastBuild()}">
				<h2 th:text="${deployment.name}"></h2>
				<table class="aui aui-table-list collapsed">
					<thead>
					<tr>
						<th id="jenkins-deployment" th:text="#{job}"></th>
						<th id="jenkins-deployment-build" th:text="#{build}"></th>
						<th id="jenkins-deployment-date" class="text-right" th:text="#{date}"></th>
					</tr>
					</thead>
					<tbody>
					<tr th:replace="~{:: jenkinsDeploymentRow(${lastBuild}, true)}">
					</tr>
					<th:block th:each="build : ${deployment.getBuilds()}">
						<th:block th:unless="${lastBuild.equals(build)}">
							<tr th:replace="~{:: jenkinsDeploymentRow(${build}, false)}"></tr>
						</th:block>
					</th:block>
					</tbody>
				</table>
			</th:block>
		</div>
	</div>
	<script th:src="@{/js/common/panel/full-history.js}"></script>
</div>

<th:block th:fragment="devstatus">
	<div class="message-container" th:if="${buildCount == 0}" th:text="#{no.builds}"></div>
	<div class="jenkins-build-status" th:if="${buildCount > 0}">
		<div class="left">
			<a class="aui-button aui-button-link" th:text="#{x.builds(${buildCount})}" jji:load-attr="builds-dialog-link">1 build</a>
			<span th:if="${buildClasses != null}" class="aui-icon aui-icon-small" th:classappend="${buildClasses}"></span>
		</div>
		<div class="right" th:if="${buildDate != null}">
			<span th:text="#{latest}" th:remove="tag"></span> <span th:text="${#times.format(buildDate)}"></span>
		</div>
	</div>
	<div class="jenkins-deploy-status" th:if="${deployCount > 0}">
		<div class="left">
			<a class="aui-button aui-button-link" th:text="#{x.deployments(${deployCount})}"
			   jji:load-attr="deployments-dialog-link">1 deployment</a>
			<span th:if="${deployClasses != null}" class="aui-icon aui-icon-small" th:classappend="${deployClasses}"></span>
		</div>
		<div class="right" th:if="${deployDate != null}">
			<span th:text="#{latest}" th:remove="tag"></span> <span th:text="${#times.format(deployDate)}"></span>
		</div>
	</div>
</th:block>

<th:block th:fragment="triggerBuildForm">
	<input type="hidden" name="issueKey" th:value="${issueKey}"/>
	<div th:if="${hasFirewalledSites}" class="aui-message aui-message-info" th:text="#{trigger.build.firewalled.site.message}"></div>
	<div th:text="#{trigger.build.description}"></div>
	<div class="error"></div>
	<fieldset class="group linked">
		<legend><span th:text="#{linked.jobs}">Jobs</span></legend>
		<div th:if="${#lists.isEmpty(jobs)}" class="no-linked-jobs long-field" th:text="#{no.linked.jobs}"></div>
		<div th:unless="${#lists.isEmpty(jobs)}" th:each="job : ${jobs}" class="jenkins-job-row long-field">
			<div class="job checkbox">
				<input type="checkbox" class="checkbox" name="linked-jobs" th:id="|job-${job.id}|" th:value="${job.id}"
				       th:disabled="${job.job.site.inaccessibleSite}"/>
				<label th:for="|job-${job.id}|" th:text="${job.displayName}">job</label>
			</div>
			<div class="builds">
				<div class="jenkins-build" th:object="${job.getLastBuild()}">
					<div class="status" th:classappend="*{getBuildColor()}">
						<span class="aui-icon aui-icon-small" th:classappend="|*{getBuildIcon()} *{getBuildColor()}|"></span>
						<span th:text="*{getShortDisplayName()}" th:if="*{isDeleted()}">1</span>
						<span th:unless="*{isDeleted()}">
						<a target="_top" th:href="*{displayUrl}" th:text="*{getShortDisplayName()}">1</a>
					</span>
					</div>
					<div class="timestamp">
						<span th:text="${#times.format(#object.date)}"></span>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
	<th:block th:replace="~{common/form :: buildableJobSelector('other-jobs', #{jobs}, _, '', true)}"/>
</th:block>

</body>
</html>
