/**
 * Copyright (c) 2012-present Marvelution Holding B.V.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.getting-started {
	counter-reset: step toc-step nav-step;

	h2:not(:last-of-type)::before {
		counter-increment: step;
		content: "Step " counter(step) ": ";
		white-space: nowrap;
		padding-right: 5px;
	}

	#TableOfContents {
		ul {
			li:not(:last-of-type) {
				a::before {
					counter-increment: toc-step;
					content: "Step " counter(toc-step) ": ";
					white-space: nowrap;
					padding-right: 5px;
				}
			}
		}
	}

	#current-page-nav-links {
		a:not(:last-of-type)::before {
			counter-increment: nav-step;
			content: "Step " counter(nav-step) ": ";
			white-space: nowrap;
			padding-right: 5px;
		}
	}
}
