/**
 * Copyright (c) 2012-present Marvelution Holding B.V.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.aui-buttons {
	aui-toggle {
		margin: 2px;

		&.small {
			margin: 7px;
		}

		&.medium {
			margin: 3px;
		}
	}
}

aui-toggle {
	&.small {
		padding: 0 4px;
		height: 16px;
		width: 32px;

		.aui-icon-small {
			height: 12px;
			width: 12px;

			&:before {
				font-size: 12px;
				margin-top: -9px;
			}
		}

		.aui-toggle-view:after {
			width: 12px;
		}

		.aui-toggle-tick {
			left: 2.5px;
			top: 11px;
		}

		.aui-toggle-cross {
			right: 3px;
			top: 11px;
		}

		.aui-toggle-input:checked + .aui-toggle-view,
		.aui-toggle-input.indeterminate-checked + .aui-toggle-view {
			// .indeterminate-checked is to workaround Chrome and Safari no longer
			// matching :checked when .indeterminate is set to true.
			&::after {
				transform: translateX(16px);
			}
		}

		.aui-adjust-huener {
			top: -13px;
			left: -3px;
		}
	}

	&.medium {
		padding: 2px 4px;
		height: 24px;
		width: 48px;

		.aui-icon-small {
			height: 16px;
			width: 16px;

			&:before {
				font-size: 14px;
				margin-top: -8px;
			}
		}

		.aui-toggle-view:after {
			width: 22px;
		}

		.aui-toggle-tick {
			left: 4px;
			top: 13px;
		}

		.aui-toggle-cross {
			right: 4px;
			top: 13px;
		}

		.aui-toggle-input:checked + .aui-toggle-view,
		.aui-toggle-input.indeterminate-checked + .aui-toggle-view {
			// .indeterminate-checked is to workaround Chrome and Safari no longer
			// matching :checked when .indeterminate is set to true.
			&::after {
				transform: translateX(22px);
			}
		}

		.aui-adjust-huener {
			top: -11px;
		}
	}
}
