/**
 * Copyright (c) 2012-present Marvelution Holding B.V.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "colors";

.jenkins-build-status,
.jenkins-deploy-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;

  .left {
    width: 140px;
  }

  .right {
    max-width: 100%;
    padding: 4px 0;
  }
}

.jenkins-builds-dialog {
  background: var(--jji-builds-dialog-bg-color);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 500px;

  .tabs-menu {
    li:last-of-type {
      position: absolute;
      right: 0;

      aui-toggle {
        margin-top: 6px;
      }

      aui-label {
        font-size: small;
      }
    }
  }

  .aui-table-list {
    td[headers=jenkins-job],
    td[headers=jenkins-deployment] {

    }

    td[headers=jenkins-job-build] {
      width: 18%;
    }

    td[headers=jenkins-job-testresults] {
      width: 26%;
    }

    td[headers=jenkins-job-date] {
      width: 15%;
    }

    td[headers=jenkins-deployment-date] {
      width: 20%;
    }

    td[headers=jenkins-deployment-build] {
      width: 25%;
    }

    .history-build {
      display: table-row;
    }

    &.collapsed {
      .history-build {
        display: none;
      }
    }
  }

  .jenkins-job-row {
    border-bottom: 1px solid var(--jji-builds-dialog-border-color);

    &:last-of-type {
      border-bottom: 0;
    }
  }
}

.jenkins-job-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  padding: 5px 0 0;

  .job {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 30%;

    .more {
      cursor: pointer;
      display: none;
      text-decoration: none;
    }

    .less {
      cursor: pointer;
      display: contents;
      padding-bottom: 15px;
      text-decoration: none;
    }
  }

  .builds {
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
  }

  &.collapsed {
    .job {
      .more {
        display: contents;
        justify-content: center;
        padding-bottom: 15px;
      }

      .less {
        display: none;
      }
    }

    .builds {
      .jenkins-build {
        &:not(:first-of-type) {
          display: none;
        }
      }
    }
  }
}

.jenkins-build {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  padding-bottom: 10px;

  .col {
    width: 100%;
    min-height: 1px;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .status {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;

    text-align: right;
  }

  .timestamp {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;

    text-align: right;
  }

  .summary,
  .details {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .summary {
    .header {
      font-weight: bold;
      font-size: 17px;
    }

    .related-issues {
      color: var(--jji-related-issues-color);

      ul {
        padding: 0;
      }

      li {
        display: inline;
        border-left: 2px solid var(--jji-related-issues-border-color);
        padding-left: 5px;
        margin-left: 5px;

        &:first-child {
          padding-left: 0;
          margin-left: 0;
          border-left: 0;
        }
      }
    }
  }

  .details {
    text-align: right;

    span {
      color: var(--jji-build-details-color);
    }

    p {
      &:first-child {
        margin: 15px 0 0 0;
      }

      margin: 0;
    }
  }
}
