/**
 * Copyright (c) 2012-present Marvelution Holding B.V.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.jenkins-green,
.jenkins-green a,
.jenkins-green a:link,
.jenkins-green a:hover,
.jenkins-green a:active,
.jenkins-green a:visited {
  color: var(--jji-successful-build-color) !important;
}

.jenkins-yellow,
.jenkins-yellow a,
.jenkins-yellow a:link,
.jenkins-yellow a:hover,
.jenkins-yellow a:active,
.jenkins-yellow a:visited {
  color: var(--jji-unstable-build-color) !important;
}

.jenkins-red,
.jenkins-red a,
.jenkins-red a:link,
.jenkins-red a:hover,
.jenkins-red a:active,
.jenkins-red a:visited {
  color: var(--jji-failed-build-color) !important;
}

.jenkins-gray,
.jenkins-gray a,
.jenkins-gray a:link,
.jenkins-gray a:hover,
.jenkins-gray a:active,
.jenkins-gray a:visited {
  color: var(--jji-other-build-color) !important;
}
