/**
 * Copyright (c) 2012-present Marvelution Holding B.V.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@use 'theme' as theme;

:root {
  @include theme.light;
}

#content {
  &.focused {
    max-width: 1000px;
    margin: 0 auto;
  }
  &.hybrid {
    max-width: 1500px;
    margin: 0 auto;
  }
}

.select2-container,
.aui-select2-container {
  &.quick-search {
    width: 150px;
    font-size: 14px;
    top: -5px;

    .select2-choice {
      &:after {
        content: "\F18C";
        font-size: 16px;
        margin-top: -8px;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0;
        font-family: Adgs Icons;
        font-weight: 400;
        font-style: normal;
        speak: none;
        left: 98%;
        line-height: 1;
        position: absolute;
        text-indent: 0;
        top: 50%;
        border: 0;
      }
    }

    &.select2-dropdown-open {
      width: 300px;
    }

    &:not(.select2-container-disabled) {
      .select2-choice {
        color: var(--jji-quick-search-choice-color) !important;
      }
    }

    &.select2-container-disabled {
      .select2-choice {
        border-color: transparent;
        color: var(--jji-quick-search-choice-disabled-color) !important;
        cursor: default;
        background-color: var(--jji-quick-search-choice-disabled-bg-color);
      }
    }
  }
}

.quick-search-drop {
  margin-top: -30px !important;
  border-radius: 1.5px !important;

  .select2-search {
    padding: 0 !important;
  }
}

.field-group {
  &:not(.multiple) {
    .aui-select2-container {
      .select2-allowclear {
        .select2-choice {
          abbr {
            display: block;
            padding-top: unset;
          }
        }

        .select2-default {
          abbr {
            display: none;
          }
        }
      }
    }
  }

  .select2-choices {
    .select2-search-field {
      input.select2-active {
        background-color: var(--aui-page-background) !important;
      }
    }
  }

  .password {
    padding-right: 30px;
  }

  .view-password {
    position: absolute;
    right: 2px;
    top: 6px;
    cursor: pointer;
    background: var(--aui-form-field-default-bg-color);

    .aui-icon-large {
      --aui-icon-size: 24px;
    }
  }
}

fieldset {
  &:not(.group) {
    > legend {
      display: block;
      width: 100% !important;
      float: none !important;
      margin: auto !important;
      text-align: center !important;
      padding: 5px 0 10px !important;
    }
  }
}
