/**
 * Copyright (c) 2012-present Marvelution Holding B.V.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
form#configuration {
  max-width: 1000px;
}

.field-group {
  .full-width-with-help-field {
    max-width: calc(#{"100% - 20px"}) !important;
  }

  .icon-inline-help {
    vertical-align: top;
    margin-top: 6px;
  }

  #evaluator-output {
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }
}

#site-features {
  ul {
    list-style: none;

    li {
      aui-toggle {
        margin-left: -40px;
        margin-right: 8px;
      }

      span {
        font-weight: bold;
      }

      p {
        margin: 0 0 10px;
      }
    }
  }
}

#system-features {
  ul {
    list-style: none;
    padding-inline-start: 0;

    li {
      span {
        font-weight: bold;
      }

      p {
        margin: 0 0 10px;
      }
    }
  }
}
