/**
 * Copyright (c) 2012-present Marvelution Holding B.V.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.ribbon {
	width: 150px;
	height: 150px;
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
	z-index: 1040;

	span {
		background-color: var(--marvelution-blue);
		color: var(--marvelution-yellow);
		box-shadow: 0 5px 10px rgba(0,0,0,0.1);
		text-shadow: 0 1px 1px rgba(0,0,0,0.2);
		text-transform: uppercase;
		text-align: center;
		position: absolute;
		display: block;
		width: 225px;
		padding: 15px 0 15px 9px;
		font: 700 18px/1 sans-serif;
		left: -25px;
		top: 30px;
		transform: rotate(45deg);
	}
}

.jenkins-integration-start {
	margin-top: 20px;
	text-align: center;

	.logo {
		svg {
			background-color: var(--marvelution-yellow);
			border-radius: 80px;
			margin-bottom: 20px;
			width: 120px;
			height: 120px;
			padding: 8px;
		}
	}

	> h2 {
		margin: auto;
	}

	ol {
		margin: 10px auto 0;
		width: 600px;
		border: 1px solid var(--jji-getting-started-border-color);
		border-radius: 5px;
		padding: 20px;
		text-align: left;
		display: table;
		counter-reset: step;

		&.vertical {
			li {
				display: inherit;
				width: auto;
				padding: 7px 10px 7px 67px;

				&:before {
					content: 'UC ' counter(step, upper-roman);
					width: 60px;
				}
			}
		}

		li {
			display: table-cell;
			position: relative;
			padding: 7px 10px 0 42px;
			width: 33%;

			&:before {
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				height: 32px;
				width: 32px;
				background: var(--marvelution-yellow);
				border-radius: 16px;
				text-align: center;
				color: var(--marvelution-blue);
				line-height: 2.2;
				counter-increment: step;
				content: counter(step);
			}

			h3,
			h5 {
				line-height: 1;
				color: var(--jji-getting-started-color);
			}

			div {
				margin-top: 10px;
			}
		}
	}

	a,
	button,
	.aui-buttons {
		margin-top: 20px;
	}
}
