/**
 * Copyright (c) 2012-present Marvelution Holding B.V.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.jenkins-portal-container {
	.jenkins-portal {
		z-index: 999;
		position: absolute;
		top: 0;
		left: 0;
		min-width: calc(#{"100% - 40px"});
		min-height: calc(#{"100% - 40px"});
		overflow: hidden;
		background: var(--aui-page-background);
		padding: 20px;

		.jenkins-portal-header {
			align-items: center;
			display: flex;

			* {
				display: table-cell;
			}

			.aui-close-button {
				width: 24px;
				height: 24px;
				margin-top: 5px;

				&:before {
					font-size: 20px;
				}
			}

			.jenkins-portal-header-main {
				margin-top: 0;
				padding: 0 20px;
				width: 100%;
				text-align: center;
			}

			.aui-icon-large {
				--aui-icon-size: 24px;
			}
		}

		.jenkins-portal-body {
			width: 600px;
			margin: 0 auto;
			padding: 40px 0;
			overflow-wrap: anywhere;

			.jenkins-portal-body-progress {
				margin: 0 auto 40px;
				width: 100%;
				display: flex;
				justify-content: center;

				ol.aui-progress-tracker {
					li.aui-progress-tracker-step {
						width: 140px;
					}
				}
			}

			.jenkins-portal-body-page {
				margin: 0 auto;
				min-height: 300px;
				display: none;
				overflow-wrap: anywhere;

				&.active {
					display: block;
				}
			}
		}

		.jenkins-portal-footer {
			display: flex;
			justify-content: center;
		}
	}
}
