/**
 * Copyright (c) 2012-present Marvelution Holding B.V.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.site-list {
	thead {
		tr {
			th {
				vertical-align: middle;

				&:first-child {
					width: 25px;
				}
				&:last-child {
					text-align: right;
					width: 200px;
				}
			}
		}
	}
	tbody {
		tr {
			td {
				vertical-align: middle;

				&:last-child {
					text-align: right;
				}

				img {
					height: 25px;
					margin: -7px 0;
				}
			}
		}
	}
}


dl.site-details {
	display: flex;
	flex-wrap: wrap;

	dt {
		width: 200px;
	}

	dd {
		margin-left: auto;
		width: calc(#{"100% - 200px"});
	}
}
