/**
 * Copyright (c) 2012-present Marvelution Holding B.V.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@mixin light {
  --marvelution-yellow: #ffd807;
  --marvelution-blue: #181840;

  --jji-successful-build-color: #36B37E;
  --jji-unstable-build-color: #FFAB00;
  --jji-failed-build-color: #FF5630;
  --jji-other-build-color: #475262;

  --jji-getting-started-color: var(--aui-lesser-header-text);
  --jji-getting-started-border-color: var(--aui-border-strong);

  --jji-quick-search-choice-color: var(--aui-button-default-text-color);
  --jji-quick-search-choice-disabled-color: var(--aui-button-default-disabled-text-color);
  --jji-quick-search-choice-disabled-bg-color: var(--aui-button-default-disabled-bg-color);//rgba(9, 30, 66, .04);

  --jji-build-list-color: var(--aui-body-text);
  --jji-build-details-color: var(--aui-body-text);

  --jji-builds-dialog-bg-color: var(--aui-page-background);
  --jji-builds-dialog-border-color: var(--aui-page-border);

  --jji-related-issues-color: var(--aui-body-text);
  --jji-related-issues-border-color: var(--aui-lesser-body-text);

  --jji-rule-element-bg-color: #f2f2f2;
  --jji-rule-element-configuration-bg-color: var(--aui-page-background);
  --jji-rule-action-border-color: var(--jji-rule-element-bg-color);
  --jji-rule-action-bg-color: var(--aui-page-background);
  --jji-rule-graph-color: #bfbfbf;
  --jji-rule-graph-default-bg-color: var(--jji-rule-graph-color);
  --jji-rule-graph-conditional-bg-color: var(--aui-page-background);
}

@mixin dark {
  color-scheme: dark;
  --jji-getting-started-color: var(--aui-body-text);
  --jji-getting-started-border-color: var(--aui-body-text);

  --jji-rule-element-bg-color: var(--aui-border);
  --jji-rule-graph-color: var(--aui-lesser-body-text);
  --jji-rule-graph-default-bg-color: var(--jji-rule-graph-color);
}
